.all {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
	gap: 5px;
}

.brand {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 15px;
	background-color: #bcc6fa;
	padding: 15px;
	border-radius: 15px;

	.brandItem {
		background-color: white;
		color: #434383;
		border: 1px solid #ddd;
		padding: 15px;
		border-radius: 8px;

		h4 {
			color: #434383;
			font-weight: bold;
			margin-bottom: 10px;
		}
		ol {
			padding-left: 20px;
			li {
				line-height: 1.5;
			}
		}
	}
}

.skill {
	background-color: rgb(244, 200, 207);
	border-radius: 15px;
	h4 {
		text-align: center;
		padding: 20px 0;
	}

	.skillItems {
		width: 100%;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
		text-align: center;
		.skillItem {
			color: #434383;
			border: 1px solid #ddd;
			padding: 5px;
			border-radius: 8px;
			&:hover {
				scale: 1.2;
				background-color: #f6a8e0;
			}
			img {
				padding-top: 5px;
				width: 80%;
				height: 60%;
			}
		}
	}
}

.project {
	width: 100%;
	height: 600px;
	background-color: #bcc6fa;
	border-radius: 15px;
	video {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 480px) {
	.brand {
		padding: 10px;
	}
}
