h5 {
	padding-bottom: 30px;
}
.number {
	font-size: 36px;
	margin: 0 auto;
}
.btn {
	width: 80px;
	border-radius: 10px;
	background-color: #000;
	box-shadow: 1px 1px 5px #fff;
}

.projectInfo {
	position: relative;
	p {
		font-weight: 900;
		position: absolute;
		top: 30px;
		right: 12px;
	}
}
