.all {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
	background-color: gray;
}
.frontPage {
	display: flex;
	flex-direction: row;
	gap: 15px;
	flex-wrap: wrap;
	padding-top: 100px;
}
