.popup-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 9999;

	// 初始狀態
	opacity: 0;
	transition: opacity 2s ease-in-out;

	// 動畫狀態
	&.entering {
		opacity: 0;
	}
	&.entered {
		opacity: 1;
	}
	&.exiting {
		opacity: 0;
	}
}

.popup-spaceship {
	position: absolute;
	left: 0;
	top: -10px;
	width: 50vw;
	height: 50vh;
}
.popup-rocket {
	position: absolute;
	top: -50px;
	right: -50%;
	width: 50vw;
	height: 50vh;
	transform-origin: center;
}

.popup-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
