.all {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	.content {
		max-width: 1200px;
		margin: 10px auto;
	}
}

.all::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url("/public/aboutMe-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.2;
	z-index: -1;
}

.tripBox,
.teamBox {
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	border: 8px double #bcbbbb;
	background-color: rgba(7, 75, 7, 0.293);
	&:hover {
		transform: rotateY(180deg);
	}
	.FrontFace,
	.backFace {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		backface-visibility: hidden;
	}

	.backFace {
		transform: rotateY(180deg);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 18px;
	}
}

.tripBox {
	width: 30rem;
	height: 40rem;
}

.teamBox {
	margin: 2% auto;
	width: 12rem;
	height: 12rem;
}

.tripBox {
	margin: 0 auto;
	width: 430px;
	height: 500px;
}

.teamBox {
	margin: 2% auto;
	width: 150px;
	height: 150px;
}

@media screen and (max-width: 480px) {
	.tripBox {
		width: 280px;
		height: 300px;
	}
	.teamBox {
		width: 100px;
		height: 100px;
	}
}
